@charset "UTF-8";
/* CSS Document */

body {
	font-family: 'open sans', sans serif;
	font-size: 15px;
	font-weight: normal;
	margin: 0 auto;
	

}

#head_container {
	background-color: rgba(90, 90, 90, .03);
}

#head_content {       
	width: 1200px;
	margin: 0 auto;
}

#main_container {
	background-color: #FFF;
	margin: 0 auto;
	padding: 0 0 0 0;
	position: relative;

	
}


#header {
	background-color: rgba(90, 90, 90, .03);
	top: 0;


}

#logo {
	margin: 30px 20px 0 140px;
	float: left;
}



#links {
	font-family: 'open san', sans-serif;
    color: #363636;
	font-size: 15px;
	font-weight: bold; 
	text-decoration: none;
    text-emphasis: none;
	margin-top: 65px;
	margin-right: 195px;
	list-style-type: none;
	float: right;
	
	

}

#links li {
	float: left;
	margin-left: 20px;
    text-decoration: none;
	
}

#links a {
	color: #363636;
	text-decoration: none;
}

#links a:hover {
	background-color: #F1E65E;
	text-decoration: none;
}

#links a:visited {
	color: #363636;
    text-emphasis:none;
    text-decoration:none;
}

#arrow_down {
	background-image: url(../portfolio/img/images/arrow_down.png);
	float: right;
	padding-bottom: 20px;
	margin-RIGHT: 175px;
}

#content_wrapper {
	height: 460px;
	
}


#main_text {
	width: 930px;
	text-align: center;
	letter-spacing: inherit;
	margin-left: 120px;
	padding-top: 200px;
	
}

/*sample
h1::selection {
	background-color: #F1E65E;
	color: #fff;
}
*/

h1 {
	font-family: futura,'open sans', sans-serif;
	font-size: 30.5px;
	font-weight: 100;
	line-height: 42px;
	color: #363636;
	text-outline: #F1E65E;	
	margin: 0 0 0 20px;
}


#main_content {
 	width: 865px;
 	margin: 0 auto;
	padding: 40px;
	overflow: hidden;
	positon: relative;
	

}

.title {
	font-family: 'Open Sans', sans-serif;
	font-size: 28px;
	font-weight: normal;
	line-height: 30px;
	color: #FFF;
	padding: 10px;
	margin: 100px 0 0 20px; 
	height: 100%;
	width: 100%;
    position:absolute;
	
}

.sub_text {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 100;
	line-height: 17px;
	color: #FFF;
	padding: 10px;
	margin: 140px 0 0 20px; 
	height: 100%;
	width: 100%;
    position:absolute;
	
}


#content_1 {
	background-image: url(../portfolio/img/images/hersheysprint.jpg);
	height: 383px;
	width: 412px;
    margin: 5px;
	float: left;
	position: relative;
	overflow: hidden;
}

#textbox_1 {
	height: 100%;
	width: 100%;
	top: 100px;
	opacity: 0;	
	background: rgba(176,153,201,1);
	-webkit-transition: opacity 500ms;
  	-moz-transition: opacity 500ms;
  	-o-transition: opacity 500ms;
  	transition: opacity 500ms;
	
	
}
	
#textbox_1:hover {
	opacity: 1;
	background-color: #B19BC9;
}


#content_2 {
	background-image: url(../portfolio/img/images/charity_water_bushelter.jpg);
	height: 383px;
	width: 412px;
    margin: 5px;
	float: left;
	position: relative;
	overflow: hidden;
}

#textbox_2 {
	height: 100%;
	width: 100%;
	top: 100px;
	opacity: 0;
	background: rgba(51,204,255,0.5);
	-webkit-transition: opacity 500ms;
  	-moz-transition: opacity 500ms;
  	-o-transition: opacity 500ms;
  	transition: opacity 500ms;
	
	
}
	
#textbox_2:hover {
	opacity: 1;
	background-color: #3CF;
}


#content_3 {
	background-image: url(../portfolio/img/images/SG-Logo.jpg);
	height: 383px;
	width: 412px;
	margin: 5px;
	float: left;
	position: relative;
	overflow: hidden;
}

#textbox_3 {
	height: 100%;
	width: 100%;
	top: 100px;
	opacity: 0;	
	background-color: rgba(255,102,51,0.5);
	-webkit-transition: opacity 500ms;
  	-moz-transition: opacity 500ms;
  	-o-transition: opacity 500ms;
  	transition: opacity 500ms;
	

}

#textbox_3:hover {
	opacity: 1;
	background-color: #F63;
	
}



#content_4 {
	background-image: url(../portfolio/img/images/fraisjoli.jpg);
	height: 383px;
	width: 412px;
	margin: 5px;
	float: left;
	position: relative;
	overflow: hidden;
}


#textbox_4 {
	height: 100%;
	width: 100%;
	top: 100px;
	opacity: 0;
	background-color: rgba(255,153,204,1);
	-webkit-transition: opacity 500ms;
  	-moz-transition: opacity 500ms;
  	-o-transition: opacity 500ms;
  	transition: opacity 500ms;
	

}

#textbox_4:hover {
	opacity: 1;
	background-color: #E49BB9;
}

#content_5 {
	background-image: url(../portfolio/img/images/Patron-Print-Ad-2-changes2.jpg);
	height: 500px;
	width: 412px;
	margin: 5px;
	float: left;
	position: relative;
	overflow: hidden;
}


#textbox_5 {
	height: 100%;
	width: 100%;
	top: 100px;
	opacity: 0;	
	background-color: rgba(102,51,153,0.5);
	-webkit-transition: opacity 500ms;
  	-moz-transition: opacity 500ms;
  	-o-transition: opacity 500ms;
  	transition: opacity 500ms;
	
	
}

#textbox_5:hover {
	opacity: 1;
	background-color: #639;
}

#content_6 {
	background-image: url(../portfolio/img/images/iQ.jpg);
	height: 383px;
	width: 412px;
	margin: 5px;
	float: left;
	position: relative;
	overflow: hidden;
}


#textbox_6 {
	height: 100%;
	width: 100%;
	top: 100px;
	opacity: 0;
	background-color: rgba(102,204,102,0.5);
	-webkit-transition: opacity 500ms;
  	-moz-transition: opacity 500ms;
  	-o-transition: opacity 500ms;
  	transition: opacity 500ms;
	

}

#textbox_6:hover {
	opacity: 1;
	background-color: #6C6;
	
}




#footer_container {
	background-color: #FFF;
    margin: 0 auto;
                      
}

#footer_content {
	background-color: #FFF;
    height: 100px;            
	width: 865px;
	margin: 0 auto;
	text-align: center;
	

}

.footer {
	font-weight: normal;
	color: #363636;

 }
